.middle{
    position: relative;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

#Icon{
    float: left;
    margin-top: -30px;
    border-radius: 50%;
}

.center{
    margin-right: auto;
    margin-left: auto;
}

h1{
    text-align: center;
    font-family: 'Poppins';
    font-size: 70px;
    color: #FFFFFF;
}

h2{
    text-align: center;
    font-family: 'Poppins';
    font-size: 55px;
    padding-top: 50px;
    color: #28651E;
}

h3{
    text-align: center;
    font-family: 'Roboto';
    font-size: 35px;
    color: #FFFFFF;
}

h4{
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

h5{
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

p{
    text-align: center;
    font-family: 'Roboto';
    font-size: 20px;
    text-align: justify;
}

ul{
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
}

.h2-underlineglobal{
    border: 10px solid #00a500;
    border-radius: 5px;
}

.h2-img{
    margin-top: -60px;
    width: 55px;
    height: 55px;
}

.container-in{
    width: 80%;
    height: 70%;
}

.right{
    float: right;
}

.left{
    float: left;
}
